{# 'lucky/registered.html.twig'#}

{% extends 'base.html.twig' %}



{% block body %}

  <div class="container">
        
  {% for message in app.flashes('notice') %}
    <div class="alert alert-success mt-2" role="alert">
      <p>{{ message }}<b>{{ username }}</b></p>
      <p>using email <b>{{ user_email }}</b></p>
    </div>
  {% endfor %}
  </div>
{% endblock %}