{# 'lucky/registered.html.twig'#}

{% extends 'base.html.twig' %}



{% block body %}

{# {{ dump(user) }} #}

<div class="container">
    {% for message in app.flashes('notice') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
      {% endfor %}
</div>
{% endblock %}