/* general settings */
a {
  text-decoration: none;
}

/* base.html.twig */
.base_body {
  min-height: 500px;
  height: 100%;
}

/* contact.html.twig */
#subpage_body {
  min-height: 500px;
  margin-bottom: 1%;
}

/* blog.html.twig */
.blogPost {
  border: 1px solid black;
  margin-bottom: 1%;
  padding: 1%;
}
.blogpost_head {
  padding: 1%;
}
.blogpost_body {
  padding: 1%;
}
.blogpost_footer {
}
/* individual blogpost -> details */
.ind_blog {
  border: 1px solid rgb(236, 233, 233);
  padding: 1%;
  -webkit-box-shadow: 2px 2px 30px 17px rgba(204, 196, 196, 0.61);
  box-shadow: 2px 2px 30px 17px rgba(204, 196, 196, 0.61);
  margin-top: 5%;
}
.ind_head {
  padding: 1%;
}
.ind_body {
  padding: 1%;
}
.ind_footer {
  padding: 1%;
  margin-top: 2%;
}
/* register form */
#register_form {
  margin-top: 1%;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1%;
  text-align: center;
}
#reg_form_input_field {
  padding: 10px;
  background-color: rgba(204, 196, 196, 0.61);
  color: black;
}
.form-error {
  color: red;
}
