{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact Us:</h1>
    <div class="row" id="subpage_body">
        <div class="col-sm-4 bg-secondary text-white">
                <h5>Mobile: {{ phone }}</h5>
        </div>
        <div class="col-sm-8  bg-light text-dark">
                <h5>Email: {{ email }}</h5>
        </div>
    </div>

{% endblock body %}