{% extends 'base.html.twig' %}
{#show lucky number#}
{% block body %}
    <h1>Home Page</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
    <div class="row" id="subpage_body">
        <div class="col-sm-6 bg-primary">
            Body Col Left
            <h1> Random lucky number is : {{ number }}</h1>
        </div>
        <div class="col-sm-6 bg-success">
            <p>Body Right Col<br>Some general information about web page.bla bla bla...
                Specific Blogs List is displayed on another page called "Blog" in Nav, not here.
            </p>
        </div>
    </div>

{% endblock %}


